# DB_URL=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/<dbname>
# FIREBASE_AUTH_EMULATOR_HOST=127.0.0.1:9099
# # FIREBASE_EMULATOR_HOST=127.0.0.1:4000

MONGO_URI=mongodb://host.docker.internal:27017/poll-db


GCLOUD_PROJECT=your-gcloud-project
PORT=8000
MODULE=all

# Environment
NODE_ENV=development
APP_PORT=8080
APP_MODULE=all

# App
APP_URL=http://localhost:8080
APP_ORIGINS=http://localhost:3000


# APP_URL="*"
# APP_ORIGINS="*"



# Database
DB_NAME=PollDB
MONGOMS_DEBUG=true

# Firebase
# FIREBASE_CLIENT_EMAIL="your-firebase-client-email"
# FIREBASE_PRIVATE_KEY="your-firebase-private-key"
# FIREBASE_PROJECT_ID=your-firebase-project-id
# FIREBASE_API_KEY=your-firebase-api-key


FIREBASE_PROJECT_ID=your-firebase-project-id
FIREBASE_CLIENT_EMAIL="your-firebase-client-email"
FIREBASE_PRIVATE_KEY="your-firebase-private-key"
FIREBASE_API_KEY= "your-firebase-api-key"
TRANSCRIPT_SEGMENTATION_THRESHOLD=6000
AI_SERVER_IP=
AI_SERVER_PORT=
AI_PROXY_ADDRESS=